services:
  lidify:
    # Important : "build: ." dit à Portainer d'utiliser le Dockerfile du dépôt
    build: . 
    container_name: lidify
    restart: unless-stopped
    ports:
      - "10083:3030"
    volumes:
      # Adaptez selon le chemin SUR LE SERVEUR, pas dans le git
      - /opt/lidify/music:/music 
      - lidify_data:/data
    environment:
      - TZ=Europe/Paris
      - SESSION_SECRET=D8GKtsZqSj9i+t5rH7U3dhbTFsBxjY3NldVyprN4SkM=
      - SETTINGS_ENCRYPTION_KEY=kIIwXcZly38JkGVjNrqf46R4JJ6GlEYXqg1pD/N65Pk=
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  lidify_data:
